#report-upload{
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

/* Report Analysis Styles */

.report-upload-section {
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
}

.report-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 85px;

}